# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.ESP32.iml
# Datasource local storage ignored files
/../../../../../../:\unity projects\ESP32\.idea\.idea.ESP32\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
